<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificacion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <a href="/" class="btn btn-secondary btn-lg mb-3">Volver</a>
    <form action="/modifenv" method="post">
        <div class="mb-3">
          <label for="idsocio" class="form-label">ID</label>
          <input class="form-control" type="text" name="idsocio" placeholder={{data.id_socio}} disabled readonly>
        </div>
        <div class="mb-3">
          <label for="dnisocio" class="form-label">DNI</label>
          <input class="form-control" type="text" name="dnisocio" placeholder={{data.dni}}>
        </div>
        <div class="mb-3">
            <label for="nombresocio">Nombre</label>
            <input class="form-control" type="text" name="nombresocio" placeholder={{data.nombre}}>
        </div>
        <div class="mb-3">
            <label for="apellidosocio">Apellido</label>
            <input class="form-control" type="text" name="apellidosocio" placeholder={{data.apellido}}>
        </div>
        <button type="submit" class="btn btn-success btn-lg mb-3">Aceptar</button>
      </form>
</body>
</html>